#logo {
    max-width: 90px;
}

#redes {
    font-size: 2em;
}

.categoria {
    border: solid darkred;
    border-width: 0 0 0 0 0.5em;
    padding: 0 1.5em;
}

.categoria-items {
    overflow-x: auto;
}

.vote-button {
    font-size: 3em;
}